[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = ">=22.0.0"
flask = ">=3.0.3"
flask_restful = ">=0.3.10"
requests = ">=2.32.3"
randomstuff.py = ">=2.0.0"
telethon = ">=1.36.0"
telethon-session-sqlalchemy = ">=0.2.16"
psycopg2 = ">=2.9.9"
psycopg2-binary = ">=2.9.9"

[dev-packages]

[requires]
python_version = "3.12.4"
